.classtime .classtime__form {
  width: 700px;
  margin: 60px auto;
}
.input__resize {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input__resize2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input__group {
  width: 49%;
  margin-bottom: 15px;
}

.input__group--full {
  width: 100%;
}

.classtime .classtime__show .show__heading ul {
  display: flex;
  justify-content: space-between;
}
.classtime .classtime__show .show__heading ul li {
  width: 24%;
  background: #f0f0f0;
  text-align: center;
  font-weight: 500;
  padding: 12px 0;
}
.classtime .classtime__show .show__heading ul li h3 {
  font-weight: 500;
  font-size: 20px;
}

.classtime .classtime__show .show__data ul {
  display: flex;
  justify-content: space-between;
}
.classtime .classtime__show .show__data ul li {
  width: 24%;
  background: #7968dc;
  text-align: center;
  font-weight: 500;
  padding: 12px 0;
  color: #fff;
  margin-top: 17px;
}
.classtime .classtime__show .show__data ul li button {
  border: none;
  outline: none;
  padding: 12px 20px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  margin: 0 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.classtime .classtime__show .show__data ul li .edit {
  background: #2ecc71;
}
.classtime .classtime__show .show__data ul li .delete {
  background: #c0392b;
}
.classtime .classtime__show .show__data ul li:last-child {
  background: transparent;
  padding: 0;
}
