* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6em;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.containers {
  width: 96%;
  margin: 0 auto;
}
